@import url(./variable.css);

/************************ body margin , padding & outline remove ************************/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    border: none;
}

body{
    background: var(--body);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

/************************ selection pshudu element ************************/
*::selection{
    background: var(--selection);
    color: var(--selection-font-color);
}

/************************ header area start ************************/
.header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--selection-font-color);
    padding: 2rem 9%;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

.logo{
    font:normal bolder 2.5rem/0 var(--nunito);
    color: var(--color);
}

.logo .font{
    padding-right: .5rem;
    color:var(--selection );
}

.nav a{
    font-size: 1.4rem;
    font-family: var(--nunito);
    font-weight: 400;
    color: var(--color);
}

.nav a + a{
    margin-left: 2rem;
}

.nav a:hover{
    color: var(--selection);
    transition: color border .1s;
}

/************************ home div start ************************/
/* gliabal section start */

/* gliabal section end */

section .home{
    padding: 2rem 9%;
    box-sizing: border-box;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    min-height: 100vh;
    align-items: center;
    background: url(img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .image{
    flex: 1 1 40rem;
}


.home .image img{
    width: 90%;
    padding: 1rem;
    animation-name: slow-up-down;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes  slow-up-down{
    0% , 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
        
    }
}

.image .drop-shadow{
    position: relative;
    top: 65px;
    border-radius:50%;
    box-shadow: 0 0rem 100rem  rgba(0,0,0,1);
    filter: blur(15px);
    width: 80%;
    height: 10px;
    background:rgba(0,0,0,1);
    margin: auto;
    animation-name: drop-shadow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;

}

@keyframes  drop-shadow{
    0% , 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;     
    }
}

.home .content h3{
    font-size: 5rem;
    font-family: var(--nunito);
    color: #333;
}

.home .content p{
    font-size: 1.7rem;
    font-family: var(--nunito);
    color: #666;
    padding: 1rem 0;
    text-align: justify;
}

.home .content p::first-letter{
    color:var(--selection);
    font-size: 2rem;
    font-weight: 700;
}

.btn{
    display: inline-block;
    padding: .4rem 2rem;
    border: .2rem solid var(--selection);
    color: var(--selection);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 1rem;
    font-family: var(--nunito);
    margin-top: 1rem;
    box-shadow: inset 0 0 0 0 var(--selection);
}

.btn:hover{
    transition: .5s;
    box-shadow: 0px 0px 5px 0px var(--selection);
    
}

/************************ home div end ************************/


/************************ specality section start ************************/

section .speciality{
    padding: 2rem 9%;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--nunito);
    color: var(--color);
    margin-bottom: 1.5rem;
}

.heading span{
    color: var(--selection);
}

.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speciality .box-container .box{
    flex:1 1 29rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, .1)  ;
    border-radius:.5rem .5rem .5rem  .5rem;
    cursor: pointer;
}

.speciality .box-container .box .image{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: -100%; left: 0;
}

.speciality .box-container .box .content{
    height: 100%;
    width: 100%;
    background: #fff;
    padding: 2rem;
    text-align: center;
    font-family: var(--nunito);
    box-sizing: border-box;
}

.speciality .box-container .box .content img{
    margin: 1.5rem 0;
}

.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    font-family:var(--nunito) ;
    columns: #333;
}

.speciality .box-container .box .content p{
    font-size: 1.3rem;
    font-family:var(--nunito) ;
    columns:var(--color);
    padding: 1rem 0;
    box-sizing: border-box;
    
}

.speciality .box-container .box:hover .image{
    transition: .8s ease;
    top: 0;
}

.speciality .box-container .box:hover .content{
    transform: translateY(100%);
}

/************************ specality section end ************************/






/************************ popular section starrt ************************/

section .popular{
    padding: 2rem 9%;
    box-sizing: border-box;
}


.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.popular .box-container .box{
    padding: 2rem;
    background: #fff;
    
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 24rem;
    position: relative;
    transition: box-shadow .5s;
}

.popular .box-container .box:hover{
    box-shadow: 0 0rem 1rem rgba(0,0,0, .2);
    transition: box-shadow .5s;
}

.popular .box-container .box img{
    height: 25rem;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
}

.popular .box-container .box .price{
    position: absolute;
    top: 3rem; left: 3rem;
    background: var(--selection);
    color: #fff;
    font-size: 2rem;
    font-family: var(--nunito);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.popular .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
    font-family: var(--nunito);
}

.popular .box-container .box .stars{
    color: gold;
    font-size: 1.7rem;
    padding-top: 1rem;
}

/************************ popular section end ************************/



/************************ steps section start ************************/
.step-div{
    padding: 2rem;
}

section .steps{
    padding: 1rem .1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

section .steps .box{
    text-align: center;
    padding: 1rem;
    width: 22%;
}

section .steps .box img{
    text-align: center;
    border-radius: 50%;
    border:1rem solid #fff;
    box-shadow: 0 .5rem  1rem rgba(0, 0 , 0 , .1);
}

section .steps .box h3{
    padding: .2rem;
    color: #333;
    font-size: 2rem;
    font-family: var(--nunito);
}

/************************ steps section end ************************/


/************************ gallery section start ************************/
section .gellery-div{
    padding: 2rem 9%;
    box-sizing: border-box;
}
.gellery-div .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gellery-div .box-container .box{
    height: 25rem;
    flex: 1 1 25rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0 , 0 , .1);
    position: relative;
    overflow: hidden;
}

.gellery-div .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gellery-div .box-container .box .content{
    position: absolute;
    top: -100%; left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255 , .8);
    padding: 2rem;
    box-sizing: border-box;
    padding-top: 5rem;
    text-align: center;
}

.gellery-div .box-container .box .content h3{
    color: #333;
    font-size: 2.5rem;
    font-family: var(--nunito);
}

.gellery-div .box-container .box .content p{
    color: #333;
    font-size: 1.1rem;
    font-family: var(--nunito);
}

.gellery-div .box-container .box:hover .content{
    top: 0%;
    transition: .5s linear;
}

/************************ gallery section end ************************/



/************************ review section start ************************/

.review{

    padding: 2rem 9%;
}


.review .box-container{
    flex-wrap: wrap;
    display: flex;
    gap: 1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgb(0, 0 , 0, .1);
    border-radius:  1rem;
    margin-top: 6rem;
    background-color: #333;
    border: 1rem solid #fff;
    box-sizing: border-box;
}

.review .box-container .box img{
    height: 12rem;
    weight: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;

}

.review .box-container .box h3{
    font-size: 2.5rem ;
    color: #fff;
    font-family: var(--nunito);
    padding: .5rem 0;
}

.review .box-container .box .stars{
    font-size: 2.rem ;
    color:var(--selection);
    padding: .5rem 0;
}

.review .box-container .box p{
    font-size: 1.2rem ;
    color: #eee;
    font-family: var(--nunito);
    padding: 1rem 0;
}


/************************ review section end ************************/



/************************ order section start ************************/

section .order{
    padding: 2rem 9%;
    box-sizing: border-box;
}

section .order .row{
    display: flex;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0 , 0, .1);
    background: #fff;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}

section .order .row .image{
    flex: 1 1 30rem;
}

section .order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem ;
}

section .order .row  form{
    flex: 1 1 50rem;
}

section .order .row  form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .order .row  form .inputBox input , section .order .row  form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.4rem;
    box-sizing: border-box;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0 , 0, .2);
    border-radius: .5rem;
    width: 49%;
    font-family: var(--nunito);
}


section .order .row  form textarea{
    width: 100%;
    resize: none;
    height: 15rem;
}

section .order .row  form .btn{
    background: none;
}

section .order .row  form .btn:hover{
    background:var(--selection);
    color:white;
}


/************************ order section end ************************/

footer .footer{
    padding: 2rem 9%;
}


/************************ footer section start ************************/



/************************ footer section end ************************/


