

/* variable.css */

:root{
    --selection:red;
    --selection-font-color:#fff;
    --nunito:'Nunito', sans-serif;
    --body:#f7f7f7;
    --box-shadow:0 .5rem 1rem  rgba(0,0,0,.1) ;
    --color:#666;







}
